:root {
  --color-body: #fff;
  --color-content-background: #f1f1f1;
  --color-panel-border: #d8d8d8;
  --color-text: #919191;
  --color-header: #373737;

  --primary: #2a85ff;
  --primary-hover: #4996ff;
  --primary-active: #2b7eef;
  --primary-font: #ffffff;

  --warning: #ff6a55;
}

// input
:root {
  --input-height: 2.5rem;
  --color-input-label: #939393;
  --color-input-text: #373737;
  --color-input-background: #f4f4f4;
  --filter-input-icon: brightness(0) saturate(100%) invert(42%) sepia(21%) saturate(4161%) hue-rotate(196deg) brightness(102%) contrast(106%);
}

// button
:root {
  // normal
  --color-button-normal: #fff;
  --color-button-normal-hover: #eaeaea;
  --color-button-normal-active: #dfdfdf;
  --color-button-normal-font: #474747;
  --color-button-normal-font-hover: #2a85ff;
  --color-button-normal-font-active: #267ff4;
  --filter-button-normal-img: brightness(0) saturate(100%) invert(27%) sepia(25%) saturate(0%) hue-rotate(247deg) brightness(90%) contrast(92%);
  --filter-button-normal-img-hover: brightness(0) saturate(100%) invert(53%) sepia(51%) saturate(6062%) hue-rotate(199deg) brightness(101%) contrast(101%);
  --filter-button-normal-img-active: brightness(0) saturate(100%) invert(46%) sepia(87%) saturate(3732%) hue-rotate(200deg) brightness(97%) contrast(97%);

  // primary
  --color-button-primary: #2a85ff;
  --color-button-primary-hover: #4996ff;
  --color-button-primary-active: #2b7eef;
  --color-button-primary-font: #f6f6f6;
  --color-button-primary-font-hover: #ffffff;
  --color-button-primary-font-active: #ececec;
  --filter-button-primary-img: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(203%) hue-rotate(38deg) brightness(113%) contrast(93%);
  --filter-button-primary-img-hover: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(203%) hue-rotate(38deg) brightness(113%) contrast(93%);
  --filter-button-primary-img-active: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(496%) hue-rotate(9deg) brightness(112%) contrast(85%);

}

// side-nav
:root {
  --color-side-nav-title: #717171;
  --color-side-nav-font: #717171;
  --color-side-nav-font-hover: #555555;
  --color-side-nav-font-active: #2a85ff;
  --color-side-nav-hover: #f4f4f4;
  --color-side-nav-active: #2a85ff1a;
  --filter-side-nav-icon: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(1100%) hue-rotate(150deg) brightness(87%) contrast(90%);;
  --filter-side-nav-icon-active: brightness(0) saturate(100%) invert(42%) sepia(83%) saturate(2517%) hue-rotate(200deg) brightness(101%) contrast(101%);;
}

// modal
:root {
  --color-modal-background: rgba(0, 0, 0, 0.3);
  --color-modal-content-background: #fff;
  --color-modal-close-button-hover: #d8d8d8;
}

// print
:root {
  --color-print: #656565;
  --color-print-icon: #2a85ff;
  --filter-print-icon: brightness(0) saturate(100%) invert(41%) sepia(17%) saturate(6653%) hue-rotate(202deg) brightness(104%) contrast(102%);
}

// table
:root {
  --color-table-border: #d8d8d8;
  --color-table-header: #474747;
  --color-table-row: #646464;
  --color-table-row-hover: #f3f3f3;
}

// panel
:root {
  --color-panel-background: #fff;
  --color-panel-border: #d8d8d8;
}

// pager
:root {
  --color-pager: #b5b5b5;
  --color-pager-hover: #f1f1f1;
  --color-pager-active: #e6e6e6;

}

.color-text {
  color: var(--color-text);
}

.color-header {
  color: var(--color-header);
}

.color-warning {
  color: var(--warning);
}