@layer base {
  html {
    --input-height: 2.5rem;
    --color-input-label: #939393;
    --color-input-text: #373737;
    --color-input-background: #f4f4f4;
    --filter-input-icon: brightness(0) saturate(100%) invert(42%) sepia(21%) saturate(4161%) hue-rotate(196deg) brightness(102%) contrast(106%);
  }
  

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  .input {
    border-width: 2px;
    color: var(--color-input-text);
    height: var(--input-height);
    font-size: 0.9rem;
  }

  .input.readonly {
    border-radius: 0.2rem;
    border-color: var(--color-input-background);
    padding: 0 0.5rem 0 0.5rem;
  }

  .input.readonly:focus {
    outline: none;
    border-width: 2px;
  }

  .input.tag {
    border-radius: 0.2rem;
    background: var(--color-input-background);
    border-color: var(--color-input-background);
    padding: 0 0.5rem 0 0.5rem;
  }

  .input.tag:focus {
    outline: none;
    border-width: 2px;
    border-color: var(--primary);
    background: transparent;
  }

  .input.tag.wrong {
    border-color: var(--danger);
  }

  .input.field {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--color-input-background);
  }

  .label {
    font-size: 0.8rem;
    color: var(--color-input-label);
    margin-bottom: 0.2rem;
  }

  .input-icon {
    filter: var(--filter-input-icon);
  }
}