@layer base {
  html {
    --color-background-body: #f1f1f1;
    --color-background-nav: #fff;
    --color-background-layout-section-3-aside-submenu: #e0f3ff;
  }

  // section-3
  .layout-section-3-aside-submenu {
    color: var(--light);

    img {
      filter: var(--light-filter);
    }
  }

  .layout-section-3-aside-submenu:hover {
    //color: var(--dark);
    background-color: var(--color-background-layout-section-3-aside-submenu);

    img {
      //filter: var(--dark-filter);
    }
  }

  .layout-section-3-aside-submenu.active {
    color: var(--purple);
    font-weight: 600;
    background-color: var(--color-background-layout-section-3-aside-submenu);

    img {
      filter: var(--purple-filter);
    }
  }

  // panel
  html {
    --color-panel-background: #fff;
    --color-panel-border: #d8d8d8;
  }

  .layout-panel {
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: var(--color-panel-border);
    padding: 1rem;
    background-color: var(--color-panel-background);
    margin-bottom: 1rem;
  }
}