@layer base {
  html {
    --color-pager: #b5b5b5;
    --color-pager-hover: #f1f1f1;
    --color-pager-active: #e6e6e6;
  }

  .pager {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "neo", "serif";
    padding-top: 0.2rem;
    color: var(--color-pager);
    border-radius: 0.3rem;
    border-width: 1px;
    border-color: transparent;
    margin: 0 0.1rem 0 0.1rem;
  }

  .pager.hover:hover {
    cursor: pointer;
    background-color: var(--color-pager-hover);
    color: var(--primary);
  }

  .pager.hover:active {
    background-color: var(--color-pager-active);
    color: var(--primary-active);
  }

  .pager.hover.disabled {
    cursor: not-allowed;
  }

  .pager.active {
    color: var(--primary);
    font-weight: 900;
    border: 1px solid var(--color-pager-active);
  }
}