@layer base {
  html {
    --color-button-shadow: rgba(0, 0, 0, 0.1);
    --filter-hover-button: brightness(1.1) drop-shadow(0 0.2rem 0.2rem var(--color-button-shadow));
    --filter-active-button: brightness(0.95);
    --filter-disabled-button: grayscale(0.5) brightness(0.95);
  }

  .button {
    outline: none;
    border-width: 1px;
    border-color: transparent;
    padding: 0 20px 0 20px;

    &:hover {
      filter: var(--filter-hover-button);
    }

    &:active {

      filter: var(--filter-active-button);
    }
  }

  // ------------------------------------------------------------
  // disabled
  .button.disabled {
    filter: var(--filter-disabled-button);
    cursor: not-allowed;
  }

  // ------------------------------------------------------------
  // button size
  .button.sm {
    min-height: 2rem;
    font-size: 1rem;

    img {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  .button.md {
    min-height: 2.5rem;
    font-size: 1.1rem;

    img {
      width: 1rem;
      height: 1rem;
    }
  }

  .button.lg {
    min-height: 3.5rem;
    font-size: 1.4rem;

    img {
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  // ------------------------------------------------------------
  // button corner
  .button.round {
    border-radius: 1.5rem;
  }

  .button.square {
    border-radius: 0.2rem;
  }

  // ------------------------------------------------------------
  // filled
  .button.filled.primary {
    background-color: var(--primary);
    color: var(--primary-opposite);
  }

  .button.filled.secondary {
    background-color: var(--secondary);
    color: var(--secondary-opposite);
  }

  .button.filled.success {
    background-color: var(--success);
    color: var(--success-opposite);
  }

  .button.filled.info {
    background-color: var(--info);
    color: var(--info-opposite);
  }

  .button.filled.warning {
    background-color: var(--warning);
    color: var(--warning-opposite);
  }

  .button.filled.danger {
    background-color: var(--danger);
    color: var(--danger-opposite);
  }

  .button.filled.light {
    background-color: var(--light);
    color: var(--light-opposite);
  }

  .button.filled.dark {
    background-color: var(--dark);
    color: var(--dark-opposite);
  }

  .button.filled.pink {
    background-color: var(--pink);
    color: var(--pink-opposite);
  }

  .button.filled.purple {
    background-color: var(--purple);
    color: var(--purple-opposite);
  }

  .button.filled.blue {
    background-color: var(--blue);
    color: var(--blue-opposite);
  }

  // ------------------------------------------------------------
  // outlined
  .button.outlined.primary {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
      color: var(--primary-opposite);
      background-color: var(--primary);

      img {
        filter: var(--primary-opposite-filter);
      }
    }
  }

  .button.outlined.secondary {
    color: var(--secondary);
    border-color: var(--secondary);

    &:hover {
      color: var(--secondary-opposite);
      background-color: var(--secondary);

      img {
        filter: var(--secondary-opposite-filter);
      }
    }
  }

  .button.outlined.success {
    color: var(--success);
    border-color: var(--success);

    &:hover {
      color: var(--success-opposite);
      background-color: var(--success);

      img {
        filter: var(--success-opposite-filter);
      }
    }
  }

  .button.outlined.info {
    color: var(--info);
    border-color: var(--info);

    &:hover {
      color: var(--info-opposite);
      background-color: var(--info);

      img {
        filter: var(--info-opposite-filter);
      }
    }
  }

  .button.outlined.warning {
    color: var(--warning);
    border-color: var(--warning);

    &:hover {
      color: var(--warning-opposite);
      background-color: var(--warning);

      img {
        filter: var(--warning-opposite-filter);
      }
    }
  }

  .button.outlined.danger {
    color: var(--danger);
    border-color: var(--danger);

    &:hover {
      color: var(--danger-opposite);
      background-color: var(--danger);

      img {
        filter: var(--danger-opposite-filter);
      }
    }
  }

  .button.outlined.light {
    color: var(--light);
    border-color: var(--light);

    &:hover {
      color: var(--light-opposite);
      background-color: var(--light);

      img {
        filter: var(--light-opposite-filter);
      }
    }
  }

  .button.outlined.dark {
    color: var(--dark);
    border-color: var(--dark);

    &:hover {
      color: var(--dark-opposite);
      background-color: var(--dark);

      img {
        filter: var(--dark-opposite-filter);
      }
    }
  }

  .button.outlined.pink {
    color: var(--pink);
    border-color: var(--pink);

    &:hover {
      color: var(--pink-opposite);
      background-color: var(--pink);

      img {
        filter: var(--pink-opposite-filter);
      }
    }
  }

  .button.outlined.purple {
    color: var(--purple);
    border-color: var(--purple);

    &:hover {
      color: var(--purple-opposite);
      background-color: var(--purple);

      img {
        filter: var(--purple-opposite-filter);
      }
    }
  }

  .button.outlined.blue {
    color: var(--blue);
    border-color: var(--blue);

    &:hover {
      color: var(--blue-opposite);
      background-color: var(--blue);

      img {
        filter: var(--blue-opposite-filter);
      }
    }
  }
}

