{
  "trailingComma": "es5",
  "tabWidth": 4,
  "printWidth": 120,
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "arrowParens": "always",
  "css": "strict",
  "singleAttributePerLine": true
}