html {
  // normal
  --color-button-normal: #fff;
  --color-button-normal-hover: #eaeaea;
  --color-button-normal-active: #dfdfdf;
  --color-button-normal-font: #474747;
  --color-button-normal-font-hover: #2a85ff;
  --color-button-normal-font-active: #267ff4;
  --filter-button-normal-img: brightness(0) saturate(100%) invert(27%) sepia(25%) saturate(0%) hue-rotate(247deg) brightness(90%) contrast(92%);
  --filter-button-normal-img-hover: brightness(0) saturate(100%) invert(53%) sepia(51%) saturate(6062%) hue-rotate(199deg) brightness(101%) contrast(101%);
  --filter-button-normal-img-active: brightness(0) saturate(100%) invert(46%) sepia(87%) saturate(3732%) hue-rotate(200deg) brightness(97%) contrast(97%);

  // primary
  --color-button-primary: #2a85ff;
  --color-button-primary-hover: #4996ff;
  --color-button-primary-active: #2b7eef;
  --color-button-primary-font: #f6f6f6;
  --color-button-primary-font-hover: #ffffff;
  --color-button-primary-font-active: #ececec;
  --filter-button-primary-img: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(203%) hue-rotate(38deg) brightness(113%) contrast(93%);
  --filter-button-primary-img-hover: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(203%) hue-rotate(38deg) brightness(113%) contrast(93%);
  --filter-button-primary-img-active: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(496%) hue-rotate(9deg) brightness(112%) contrast(85%);
}

.button {
  outline: none;
  border-radius: 0.2rem;
  border-width: 2px;
  font-size: 1rem;
  letter-spacing: 0.07rem;
  cursor: pointer;
  height: var(--input-height);
  padding: 0 0.7rem 0 0.7rem;
}

.button.normal {
  border-color: var(--color-button-normal-hover);
  background-color: var(--color-button-normal);
  color: var(--color-button-normal-font);

  img {
    filter: var(--filter-button-normal-img);
  }
}

.button.normal:hover {
  border-color: var(--color-button-normal-hover);
  background: var(--color-button-normal-hover);
  color: var(--color-button-normal-font-hover);

  img {
    filter: var(--filter-button-normal-img-hover);
  }
}

.button.normal:active {
  border-color: var(--color-button-normal-active);
  background: var(--color-button-normal-active);
  color: var(--color-button-normal-font-active);

  img {
    filter: var(--filter-button-normal-img-active);
  }
}


// primary
.button.primary {
  border-color: var(--color-button-primary);
  background-color: var(--color-button-primary);
  color: var(--color-button-primary-font);

  img {
    filter: var(--filter-button-primary-img);
  }
}

.button.primary:hover {
  border-color: var(--color-button-primary-hover);
  background: var(--color-button-primary-hover);
  color: var(--color-button-primary-font-hover);

  img {
    filter: var(--filter-button-primary-img-hover);
  }
}

.button.primary:active {
  border-color: var(--color-button-primary-active);
  background: var(--color-button-primary-active);
  color: var(--color-button-primary-font-active);

  img {
    filter: var(--filter-button-primary-img-active);
  }
}