.table-top-border {
  border-top: 1px solid var(--color-table-border);
}

.table-border-bottom {
  border-bottom: 1px solid var(--color-table-border);
}

.table-header {
  color: var(--color-table-header);
}

// tailwind 에 table-row 라는 이름 중복 되어 있음
.table-content {
  color: var(--color-table-row);
}

.table-content.hover:hover {
  background: var(--color-table-row-hover);
}